.top {
	height: 122px;
}
.login {
	margin:0 auto;
	width: 800px;
	height: 474px;
	padding-top: 100px;
	box-sizing: border-box;
	background-color: rgba(254,85,137,0.2);
	border-radius: 10px;
	span {
		float: left;
	}
	div {
		width: 520px;
		height: 50px;
	}
	input {
		border: 1px solid #ccc;
		width: 400px;
		height: 30px;
		padding-left: 8px;
		box-sizing: border-box;
	}
	h2 {
		height: 38px;
		line-height: 22px;
	}
	label {
		color: red;
	}
	.login_form {
		width: 500px;
		margin:0 auto;
		text-align: center;
	}
	.login-but input[type='submit'] {
		height: 50px;
		width: 190px;
		margin-top: 20px; 
		font-size: 18px;
		border-radius: 5px;
	}
	.login-but input[type='submit']:hover {
		background-color: #ccc;
		color: #fff;
	}
}